* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background-color: white  ;
}

.sidebar {
  position: fixed;
  top: 0px;
  width: 330px;
  margin: 16px;
  border-radius: 16px;
  background: #104c8a;
  height: calc(100vh - 32px);
  transition: all 0.4s ease;
  z-index: 10;
}


.sidebar.collapsed {
  width: 85px;
}

.sidebar .sidebar-header {
  display: flex;
  position: relative;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

 #logo-full{
  width: 120px; 
  height: auto; 
  display: block;
  object-fit: contain;
  
}

#logo-collapsed{
  width: 140px; 
  height: auto; 
  display: block;
  object-fit: contain;
  margin-left: -48px;
  margin-top: -20px;
}

.sidebar-header .toggler {
  height: 35px;
  width: 35px;
  color: #151A2D;
  border: none;
  cursor: pointer;
  display: flex;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
  position: absolute;
  right: 25px;
}

.sidebar-header .menu-toggler {
  display: none;
}

.sidebar.collapsed .sidebar-header .toggler {
  transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
  background: #dde4fb;
}

.sidebar-header .toggler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toggler span {
  transform: rotate(180deg);
}

.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  gap: 4px;
  padding: 0 15px;
  flex-direction: column;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}

.sidebar-nav .nav-link {
  color: #fff;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  border-radius: 8px;
  padding: 12px 15px;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link {
  border-radius: 12px;
}

.sidebar .sidebar-nav .nav-link .nav-label {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}

.sidebar-nav .nav-link:hover {
  color: #104c8a;
  background: #fff !important;
}

.sidebar-nav .nav-item {
  position: relative;
}

.sidebar-nav .nav-tooltip {
  position: absolute;
  top: -10px;
  opacity: 0;
  color: #151A2D;
  display: none;
  pointer-events: none;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  background: #fff;
  left: calc(100% + 25px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: all 0.4s ease;
}

.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
}




.post {
  display: grid;
    grid-template-rows: 100px 500px 30px;
    width: 450px;
    height: 730px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 40px;
    border-radius: 20px;
}

#post-head {
    position: relative;
    top: -19px;
    left: -6px;
    margin-bottom: 10px;
}

.user-info{
  margin-top: -19px;

}

.user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0px 0px 10px;
}

.user-name {
    color: black;
    padding: 33px 0px 0px 15px;
    position: relative;
    top: -23px;
    left: -11px;
    text-decoration: none;

}

.post-content {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.post-content img{
    width: 300px;
}

.post-content video{
    width: 300px;
}
.content {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caption{
    width: 400px;
    padding-top: 40px;
}

.hashtags{
  padding-top: 30px;
}

.post-date{
    color: rgb(57, 56, 56);
    padding-top: 10px;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
  }
  
  /* Close Button */
  .close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#comment-input{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
  /* Submit Button */
  #submit-comment {
    padding: 10px;
    background-color: #104c8a;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 240px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  #submit-comment:hover {
    background-color: #4979b3;
  }

  #comment-error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
  }
/* Style for the comment box */
.comment-box {
    border: 1px solid #ddd;  /* Light gray border for the box */
    padding: 10px;            /* Padding inside the box */
    margin-bottom: 10px;      /* Spacing between each comment */
    border-radius: 5px;       /* Rounded corners */
    background-color: #f9f9f9; /* Light background color */
  }
  
  /* Style for the username link */
  .user-link {
    font-weight: bold;       /* Bold username */
    color: black;            /* Dark black color */
    text-decoration: none;   /* Remove underline */
    margin-right: 5px;       /* Space between username and comment text */
  }
  
  /* Optional: Add hover effect on the username */
  .user-link:hover {
    color: #333; /* Slightly darker shade on hover */
  }
    
  .fa-sharp{
    position: absolute;
      top: 24px;
      left: 48px;
      font-size: 2em;
    }

      #signOut {
        border: 1px solid transparent;
        background-color: #104c8a;
        width: 100%;
      }
      
    
    /* Responsive media query code for small screens */
    @media (max-width: 920px) {
    
        body{
            margin-top: 100px;
        }
    
      .sidebar {
        height: 56px;
        margin: 13px;
        overflow-y: hidden;
        scrollbar-width: none;
        width: calc(100% - 26px);
        max-height: calc(100vh - 26px);
        margin-top:-100px ;
      }
    
      .sidebar.menu-active {
        overflow-y: auto;
      }
    
      .sidebar .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        border-radius: 16px;
        background: #104c8a;
        padding: 8px 10px;
      }
    
      .sidebar-header .header-logo img {
        width: 60px;
        height: 60px;
      }
    
      .sidebar-header .sidebar-toggler,
      .sidebar-nav .nav-item:hover .nav-tooltip {
        display: none;
      }
      
      .sidebar-header .menu-toggler {
        display: flex;
        height: 30px;
        width: 30px;
      }
    
      .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
      }
    
      .sidebar .sidebar-nav .nav-list {
        padding: 0 10px;
      }
    
      .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
      }
    
      .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
      }
    
      .sidebar-nav .secondary-nav {
        position: relative;
        bottom: 0;
        margin: 40px 0 30px;
    
      }
      
      
    }
    