@media only screen and (min-width: 651px){
 *{
    margin: 0;
    padding: 0;
 }
 header{
    background-color: #c5bedf;
    height: 8vh;
 }
  #logo{
    height: 40px;
    margin-top: 15px;
    margin-left: 35px;
  }
 main{
    display: grid;
    grid-template-columns: 25% 75%;
 }
 #nav{
 background-color: black; 
 height: 92vh;
 display: flex;
 flex-direction: column;
 padding-left: 50px;
 border-right: 2px solid #262626;
 
 }

 .navi{
   text-decoration: none;
   color: white;
   font-size: x-large;
   line-height: 80px;
 }
 .fa-solid{
    color: white;
    font-size: 1.5em ;
    margin-right: 30px;
 }
 a:hover{
    color: #261f3e;
 }
 #main{
    height: 92vh;
    background-color: black;
 }
 #container{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .head{
   background-color: grey;
   height: 70px;
   width: 500px;
 }
 .content{
   background-color: white;
   height: 500px;
   width: 500px;


 }
 .des{
   background-color: #c5bedf;
   height: 195px;
   width: 500px;


 }
}
